<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472682959411-lehf2ej2mpifopjd1jdj6gfh2qvol18s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472682959411-lehf2ej2mpifopjd1jdj6gfh2qvol18s</string>
	<key>API_KEY</key>
	<string>AIzaSyA1OZx0swL5XJvJiyVrFfpQT1BL9uI2Qn4</string>
	<key>GCM_SENDER_ID</key>
	<string>472682959411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>work.zhouyuan.ttmultiyoutubeplayers</string>
	<key>PROJECT_ID</key>
	<string>multi-97117</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-97117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472682959411:ios:537c1f37c9ebeb36090946</string>
	<key>DATABASE_URL</key>
	<string>https://multi-97117.firebaseio.com</string>
</dict>
</plist>